@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #fcf8e8;
}

.container {
  display: flex;
  padding: 2rem 2rem;
  width: 100%;
  height: 100vh auto;
}

/* NAVBAR */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 100%;
  background-color: #df7861;
}

/* IMG */
.img-avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: 2rem;
  flex-wrap: wrap;
}

/* TEXT */
.menu-title {
  margin: 0 auto;
  text-align: center;
}
.menu-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.menu-paragraph {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

/* LINKS */
.menu-links {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: auto;
}

.menu-links ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.menu-links ul li {
  padding: 1rem;
  border-bottom: 1px solid rgb(252, 248, 232, 0.7);
  border-top: 1px solid rgb(252, 248, 232, 0.781);
  text-align: center;
  transition: 0.3s ease-in-out;
  height: auto;

  &:hover {
    background-color: #9bcdd2;
    width: 100%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.menu-links ul li .nav-item {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin: 1rem 0px;
  width: 95%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  &:hover {
    width: 100%;
    color: #ffffff;
  }
}

/* MAIN - TO DO LIST*/

.container .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  background-color: rgb(198, 92, 68);
  border: 1px solid rgb(252, 248, 232, 0.7);
  width: 97rem;
  height: 100%;
  flex-wrap: wrap;
}

/* CONTAINER */
.container .content-container .input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: rgb(198, 92, 68);
}

.content-container .list-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 98%;
  height: auto;
  background-color: #df7861;
}

/* TITLE */
.list-container,
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 2rem;
}

/* TITLE DAY AND NIGHT */
.list-container,
h2 {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: rgb(198, 92, 68);
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 2rem;
}

/* FORM - INPUT TO DO LIST*/
.add-list {
  width: 25rem;
  height: 1.5rem;
  border-color: #fcf8e8;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

/* INPUT TO DO LIST*/
#add {
  width: 25rem;
  height: 2.7rem;
  background-color: #fcf8e8;
  border-color: rgb(198, 92, 68);
  color: black;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.input-list {
  box-shadow: #df7861;
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: 2px solid white;
  }
}

/* BUTTON - ADD TO DO LIST*/
#do-button {
  background-color: #ffffff;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 10%;
  cursor: pointer;
  height: 2.4rem;
  box-shadow: rgba(0, 0, 0, 0.589);
  color: rgb(198, 92, 68);
}

/* RADIO - CHOOSE DAY TIME*/
#timeDay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#timeDay label {
  display: inline-block;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  height: 2.5rem;
  font-style: bold;
  color: rgb(198, 92, 68);
}

#timeDay #dayRadio:not(:checked),
#nightRadio:not(:checked) {
  border-color: #df7861;
  background-color: #eee;
}

#timeDay #dayRadio:checked,
#nightRadio:checked {
  background-color: rgb(198, 92, 68);
  border-color: #df7861;
}

/* CONTAINER - TO DO LIST BY DAY TIME*/
.day-container,
.night-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  gap: 0.5rem;
  width: 50%;
  height: auto;
  background-color: #fcf8e8;
  box-shadow: rgba(0, 0, 0, 0.5);
  border: 1rem solid #df7861;
  flex-wrap: wrap;
}

/* CONTAINER - UL TO DO LIST*/
.do-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 5rem auto;
  margin-bottom: 1rem;
  background-color: #9bcdd2;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.589);
  padding: 0.5rem;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
  gap: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.do-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  color: rgb(255, 255, 255);
  text-align: justify;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.589);
}

.done-button,
.delete-button {
  background-color: #fdfdfd;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.589);
}

.done,
.delete {
  color: #df7861;
}

@media (max-width: 768px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .container .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: rgb(198, 92, 68);
    border: 1px solid rgb(252, 248, 232, 0.7);
    flex-wrap: wrap;
  }

  /* CONTAINER */
  .container {
    padding: 0;
    display: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .img-avatar {
    width: 75%;
    height: auto;
    border-radius: 50%;
    margin-top: 2rem;
    flex-wrap: wrap;
    align-self: center;
  }

  .content-container .input-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100% auto;
    padding: 1rem;
    background-color: rgb(198, 92, 68);
    flex-wrap: wrap;
  }

  .content-container .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #df7861;
    flex-wrap: wrap;
  }

  .day-container,
  .night-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 100%;
    flex-wrap: wrap;
  }

  #timeDay {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  #timeDay label {
    display: block;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    height: 2.5rem;
    font-style: bold;
    color: rgb(198, 92, 68);
  }
}

@media (min-width: 769px) and (max-width: 1699px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .container .content-container {
    display: flex;
    flex-direction: column; /* Adjusted for responsiveness */
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(198, 92, 68);
    border: 1px solid rgb(252, 248, 232, 0.7);
    flex-wrap: wrap;
    padding: 1rem; /* Adjusted for responsiveness */
  }

  .img-avatar {
    width: 75%;
    height: auto;
    border-radius: 50%;
    margin-top: 2rem;
    align-self: center;
  }

  .content-container .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    background-color: rgb(198, 92, 68);
    flex-wrap: wrap;
  }

  .content-container .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #df7861;
    flex-wrap: wrap;
  }

  .day-container,
  .night-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 100%;
    flex-wrap: wrap;
  }

  #timeDay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  #timeDay label {
    display: block;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    height: 2.5rem;
    font-style: bold;
    color: rgb(198, 92, 68);
  }
}
