@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #fcf8e8;
}

.container {
  display: flex;
  position: relative;
  padding-top: 2rem;
  padding-left: 2rem;
  width: 100%;
}

/* NAVBAR */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 18rem;
  height: 100vh;
  background-color: #df7861;
}

.img-avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.menu-title {
  margin: 0 auto;
  text-align: center;
}
.menu-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.menu-paragraph {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 0 px;
  width: 50%;
}

.menu-links {
  display: flex;
  margin-top: 0;
  width: 100%;
}

.menu-links ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.menu-links ul li {
  padding: 1rem;
  border-bottom: 1px solid rgb(252, 248, 232, 0.7);
  border-top: 1px solid rgb(252, 248, 232, 0.781);
  text-align: center;
  transition: 0.3s ease-in-out;
  height: auto;

  &:hover {
    background-color: #9bcdd2;
    width: 100%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.menu-links ul li .nav-item {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin: 1rem 0px;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  &:hover {
    width: 100%;
    color: #ffffff;
  }
}

/* MAIN - TO DO LIST*/

.container .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  background-color: rgb(223, 120, 97);
  border: 1px solid rgb(252, 248, 232, 0.7);
  width: 97rem;
  height: 100vh;
}

.content-container h1,
.list-container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: #ecb390;
}

.add-list {
  width: 25rem;
  height: 1.5rem;
  border-color: #fcf8e8;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;

  &:focus {
    border-color: #d0f288;
    box-shadow: #b1b8b1;
  }
}

.btn-submit {
  background-color: #068da9;
  border-color: #068da9;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0.5rem;
  transition: 0.3s ease-in-out;
  width: 7rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: #7e1717;
    border-color: #7e1717;
  }
}
